# User Testing Report

User testing was conducted by Lisa Villeneuve on October 22, 201} between the times of 3pm and 3pm with the following participants:

- Grace Morton
- Tirzah Wood
- Kathryn Hallett

## Tasks

1. Go see pictures of stuff
2. Read about rocks
3. Get back to home page

---

## Individual Results & Observations

### Grace Morton

- No difficulty at all
- Thought it was super clean and organized
- Cool to have selected nab items for submenu for gallery for the image pages/sections
- could use Javascript for images in gallery with the metadata

### Tirzah Wood

- She thought it was simple, clean, easy to use, self explanatory

### Kathryn Hallett

- She followed the right path
- She thought it was clean and simple to use

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- Nothing was mentioned

### Serious, Causes Frustration, May Hinder Completion

- Noting was mentioned

### Minor, Annoying, Won’t Hinder Completion

- They would like to have page selected on nags and menus
- It was mentioned that I could use javascript to zoom and view images