---
layout: default
---

	<div class="grid article">
		{% include submenu.html %}

		<div class="article-text unit unit-s-1 unit-m-2-3 unit-l-3-4">
			<div class="unit-right unit-s-1 unit-l-1-2">
				<div class="unit-spacer">
					<img src="http://placehold.it/1000x500" class="flex-img" alt="Photo of rocks">
					<caption>Photo of Rocks</caption>
				</div>
			</div>
			<div class="unit unit-s-1 unit-l-1-2">
				<div class="unit-spacer">
					<h1>Rocks Types</h1>
						<p>{% include igneous.md %}</p>
						<p>{% include metamorphic.md %}</p>
						<p>{% include sedimentary.md %}</p>
				</div>
			</div>
		</div>
	</div>
