		<div class="grid gallerynav">
			<div class="unit unit-s-1-2 unit-m-1-3 unit-l-1-6"><a href="{{site.baseurl}}/gallery/rock/" class="{% if page.url contains 'rock' %}selected{% endif %}">Rocks</a></div>
			<div class="unit unit-s-1-2 unit-m-1-3 unit-l-1-6"><a href="{{site.baseurl}}/gallery/mineral/" class="{% if page.url contains 'mineral' %}selected{% endif %}">Minerals</a></div>
			<div class="unit unit-s-1-2 unit-m-1-3 unit-l-1-6"><a href="{{site.baseurl}}/gallery/gem/" class="{% if page.url contains 'gem' %}selected{% endif %}">Gems</a></div>
			<div class="unit unit-s-1-2 unit-m-1-3 unit-l-1-6"><a href="{{site.baseurl}}/gallery/ore/" class="{% if page.url contains 'ore' %}selected{% endif %}">Ores</a></div>
			<div class="unit unit-s-1-2 unit-m-1-3 unit-l-1-6"><a href="{{site.baseurl}}/gallery/fossil/" class="{% if page.url contains 'fossil' %}selected{% endif %}">Fossils</a></div>
			<div class="unit unit-s-1-2 unit-m-1-3 unit-l-1-6"><a href="{{site.baseurl}}/gallery/meteorite/" class="{% if page.url contains 'meteorite' %}selected{% endif %}">Meteorites</a></div>
		</div>
