		<div id="subnavigation" class="submenu unit unit-s-1 unit-m-1-3 unit-l-1-4">
			<div class="unit-spacer-3">
				<div class="unit unit-s-1 unit-m-1 unit-l-1"><a href="#definition" class="{% if id contains 'definition' %}selected{% endif %}">Definition</a></div>
				<div class="unit unit-s-1 unit-m-1 unit-l-1"><a href="#characteristics" class="{% if id contains 'characteristics' %}selected{% endif %}">Characteristics</a></div>
				<div class="unit unit-s-1 unit-m-1 unit-l-1"><a href="#types" class="{% if id contains 'types' %}selected{% endif %}">Types</a></div>
			</div>
		</div>
